body {
    margin: 0;
    padding: 0;
}

.complete-page {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 0.5fr 5fr;
}

.game-title {
    display: flex;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

.player-selection {
    display: grid;
    align-items: center;
    justify-items: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.versus-human {
    text-align: center;
    grid-column: 2/3;
}

.versus-computer {
    text-align: center;
    grid-column: 3/4;
}

#play-vs-human, #play-vs-computer {
    width: 8em;
    height: 3em;
    cursor: pointer;
}

.game-grid-div {
    display: grid;
    align-items: center;
    justify-items: center;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50vh;
    width: 50vh;
}

.game-grid-item {
    cursor: pointer;
}

.game-title, .complete-page, .versus-computer, .versus-human, .player-selection, .game-grid-div, .game-grid, .game-grid-item {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}